@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Alegreya", serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: #fff;
}
img{
    max-width: 100%;
}
header{
    padding: 40px 0;
    z-index: 2;
    position: relative;
}
.wrapper{
    background: linear-gradient(0deg, rgba(0,5,128,1) 0%, rgba(0,0,0,1) 100%);
    width: 100%;
}
.conteiner{
    width: 1280px;
    margin: 0 auto;
}
header .logo, footer .block .logo{
    text-transform: uppercase;
    font-size: 31px;
    font-weight: 800px;
}

header nav{
    float: right;
    width: 50%;
}
header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
header nav ul li{
    display: inline-block;
}
header nav ul li a{
    color: #fff;
}
header nav ul li:not(.active):not(.btn) a:hover{
    border-bottom: 5px solid #0007cc;
    border-radius: 10px;
}
header nav ul li.active::after{
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #0007cc;
    border-radius: 10px;
    position: relative;
    top: 5x;
    left: -15px;
}
header nav ul li.btn a{
    background: #0005a3;
    padding: 9px 17px;
    border-radius: 10px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
}
header nav ul li.btn a:hover{
    background: #020685;
}
.hero{
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}
.hero--info{
    width: 530px;
    padding-top: 70px;
}
.hero--info h2{
    color: #0007d4;
    font-size: 20px;
    font-weight: 600;
}
.hero--info h1{
    font-size: 46px;
    font-weight: 600;
}
.hero--info h1{
    font-weight: 500;
    line-height: 170%;
    margin: 26px 0;
}
.hero--info .btn{
    background: #0007d4;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
}
.hero--info .btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.hero img{
    position: absolute;
    top: -110px;
    right: 0;
    left: 340px;
}


.liner{
    padding-top: 50px;
}
.liner h3{
    font-size: 31;
    font-weight: 600;
}
.liner .see-all{
    background: #0007d4;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    font-size: 18px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    float: right;
}
.liner .see-all:hover{
    cursor: pointer;
    background: #0005a3;
    transform: scale(1.1);
}
.liner .prog{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}
.liner .prog img{
    width: 100%;
    height: 300px;
}
.liner .prog span{
    display: block;
    text-align: center;
    margin-top: 20px;
}
.big-text{
    padding: 50px 0;
    font-size: 35px;
    font-weight: 600px;
    text-align: center;
    width: 800px;
}
.big-text .btn{
    background: #0007d4;
    color: #fff;
    border-radius: 21px;
    padding: 15px 30px;
    border: 0;
    font-size: 18px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
}
.bug-text .btn:hover{
    cursor: pointer;
    background: #0008ff;
    transform: scale(1.2);
}
@media (min-width: 600px){
    .back-to-top {
        background: #1900fcc5;
        border-radius: 50%;
        position: fixed;
        bottom: -50px;
        padding: 10px 12px;
        right: 50px;
        cursor: pointer;
        transition: 0.3s all;
    }
    .back-to-top:hover{
        background: #1900fcc5;
        transform: scale(1.2);
    }
    }
    @media (max-width: 599px){
        .back-to-top {
            background: #1900fff1;
            border-radius: 50% 50% 20% 20%;
            position: fixed;
            bottom: -50px;
            padding: 9px 10px;
            right: 10px;
            cursor: pointer;
            transition: 0.3s all;
        
        }
        .back-to-top:active{
            background: #444343;
        }
    }
    .back-to-top.active {
        bottom: 50px;
        transition: 0.3s all;
    }

.features {
    background: url('BG.jpeg') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0;
        
        }
        
.features h3, .features p{
    margin-bottom: 20px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.features h3{
    font-size: 30px;
}
.features .info{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.features .info .block{
    text-align: center;
    margin: 30px 2%;
}
.features .info .block .btn a{
    background: #0007d4;
    color: #fff;
    border-radius: 21px;
    padding: 15px 30px;
    border: 0;
    font-size: 18px;
    margin-top: 15px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
}
.features .info .block .btn a:hover{
    cursor: pointer;
    background: #0008ff;
    transform: scale(1.1);
}
.features .info .block img{
    border-radius: 11px;
    margin-bottom: 15px;
}
footer .block{
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(0,17,99,1) 100%);;
}
footer .block .logo{
    text-align: center;
    margin: 0 auto;
}
footer .block .logop{
    text-align: center;
    margin: 0 auto;
    font-size: 21px;
}
.liner .progi{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
    flex-wrap: wrap;
}
.liner .progi img{
    width: 100%;
    height: 300px;
}
.liner .progi span{
    display: block;
    text-align: center;
    margin-top: 20px;
}
.liner .see-allu{
    background: #0007d4;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    font-size: 18px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    float: right;
    margin-top: 20px;
}
.liner .see-allu:hover{
    cursor: pointer;
    background: #0005a3;
    transform: scale(1.1);
}
.liner .progi .block .btn{
    background: #0007d4;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
}
.liner .progi .block .btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}
